* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

nav {
  padding: 20px;
}

.logo {
  height: 70px;
  width: 70px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 30px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 3px 0;
}

.active {
  background-color: #A9A9A9;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

#menu-list li a:hover {
  background-color: #A9A9A9;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.homeButton {
  border: 0;
  padding: 10px 20px;
  background-color: #FF5A5A;
  color: #ffffff;
  border-radius: 10px;
  margin-left: 10px;
}

#menu-list li a {
   margin: 0 5px;
  padding: 10px 20px 10px 20px;
}

#menu-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-top: -60px;
  z-index: -1;
}

#menu-list a {
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
    margin-top: -100px;
  }

  #menu-list {
    display: none;
    align-items: end;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 20px;
    width: 33%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
  }

  .homeButton {
    margin-right: 18px;
  }

  #menu-list li {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: flex-end;
  }
  
  #menu-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-left: auto;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 3px 0;
    transition: 0.3s;
  }

  .burger-menu.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 8px);
  }

  .burger-menu.active .bar2 {
    opacity: 0;
  }

  .burger-menu.active .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
  }

  .burger-menu.active{
    margin-right: -20px;
  }

  #menu-list.active {
    opacity: 1;
    transform: translateY(0);
    background-color: #ffffff;
    width: 32%;
    display: flex;
    align-items: center;
    margin-right: -1px;
    z-index: 2;
  }
}

.main{
  z-index: 3;
}

a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
}

.homeDisplay {
    display: flex;
    justify-content: center;
}

.imgs {
    height: 555px;
    width: 100%;
}

.imgs2 {
    display: flex;
    justify-content: center;
}

.homeContext {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 80px;
}

.divLink {
    margin-top: -80px;
    margin-left: 70px;
}

.h1 {
    font-size: 4em;
}

.p {
    font-size: 1.2em;
    margin-top: 10px;
}

.btn1 {
    width: 180px;
    border: 0;
    padding: 15px 20px;
    background-color: #FF5A5A;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
}

.divLink img {
    height: 50px;
    margin-left: 10px;
    margin-top: -80px;
}

@media screen and (max-width: 900px) {
    .homeContext {
        margin-left: 40px;
    }

    .divLink {
        margin-left: 25px;
    }

    .imgs2 {
        margin-right: 80px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .h1 {
        font-size: 3em;
    }

    .homeDisplay {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        margin-right: 60px;
    }

    .imgs {
        display: none;
    }
}

@media screen and (min-width: 300px) {
    .divLink {
        margin-top: 1px;
    }
}

/* ABOUT US */
.containerAbout {
    margin: 0 20px;
}

.imgAbout {
    width: 100%;
    height: 1673px;
}

.h1About {
    font-size: 3em;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.mission {
    width: 500px;
    background-color: rgba(169, 169, 169, 0.8);
    position: absolute;
    padding: 20px;
}

.pAbout {
    margin-top: 20px;
    font-size: 1.5em;
}

.h1About {
    font-size: 4em;
}

.team {
    width: 500px;
    background-color: rgba(169, 169, 169, 0.8);
    position: absolute;
    padding: 20px;
    margin-top: 65vh;
}

.teamDiv {
    display: flex;
    justify-content: flex-end;
}

.meAbout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.creator {
    height: 300px;
}

.developerDiv {
    width: 500px;
    background-color: rgba(169, 169, 169, 0.8);
    position: absolute;
    padding: 20px;
    margin-top: 130vh;
}

.creatorDiv {
    width: 500px;
    background-color: rgba(169, 169, 169, 0.8);
    position: absolute;
    padding: 20px;
    margin-top: 187vh;
}

.creatorD {
    display: flex;
    justify-content: flex-end;
}

.emailAbout {
    padding: 50px 30px 50px 30px;
}

.inputAbout {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    font-size: 1.5em;
    outline: 0;
    border-radius: 10px;
    border: 0;
    background-color: #dbd9d9;
}

.btn {
    display: flex;
}

.buttonAbout {
    margin: 10px 0 0 20px;
    width: 20%;
    height: 60px;
    font-size: 1.5em;
    outline: 0;
    background-color: #FF5A5A;
    border: 0;
    color: #ffffff;
    border-radius: 10px;
}

.pAbout1 {
    margin-left: 8px;
}

@media screen and (min-width: 300px) {
    .team {
        margin-top: 470px;
    }

    .developerDiv {
        margin-top: 915px;
    }

    .creatorDiv {
        margin-top: 1315px;
    }

    .imgAbout {
        height: 1693px;
    }
}

@media screen and (max-width: 900px) {
    .team {
        margin-top: 450px;
    }

    .developerDiv {
        margin-top: 900px;
    }

    .creatorDiv {
        margin-top: 1300px;
    }

    .imgAbout {
        height: 1676px;
    }
}

@media (max-width: 768px) {

    .team,
    .mission,
    .developerDiv,
    .creatorDiv {
        width: 300px;
    }

    .pAbout {
        margin-top: 20px;
        font-size: 1em;
    }

    .h1About {
        font-size: 2em;
    }

    .imgAbout {
        width: 100%;
        height: 1622px;
    }

    .team {
        margin-top: 380px;
    }

    .developerDiv {
        margin-top: 740px;
    }

    .creatorDiv {
        margin-top: 1140px;
    }

    .imgAbout {
        height: 1516px;
    }
}

/* SERVICES */

.imgServices {
    height: 100%;
    width: 100%;
}

.services {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: auto;
}

.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.top h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.top h4 {
    margin-top: 10px;
}

.happy {
    display: flex;
    margin-top: 100px;
    padding: 20px;
}

.servText {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.servText h1 {
    font-size: 4em;
}

.servText button {
    width: 180px;
    font-size: 1.6em;
    margin-top: 10px;
    background-color: #FF5A5A;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
}

.servImg {
    width: 100%;
}

.servSub {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

.servSub h1 {
    font-size: 3em;
}

.servBtn input {
    height: 60px;
    width: 100%;
    padding-left: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: #dbd9d9;
}

.servBtn {
    display: flex;
    margin-top: 10px;
    width: 100%;
    padding: 0 20px;
}

.servBtn button {
    font-size: 1.2em;
    padding: 0 20px;
    height: 60px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #FF5A5A;
    color: #ffffff;
    border: 0;
}

@media screen and (min-width: 768px) {}

@media screen and (max-width: 768px) {
    .top {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .services {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .servImg {
        width: 150px;
    }

    .servText h1 {
        font-size: 2.4em;
    }

    .servSub h1 {
        padding: 0 20px;
    }

    .servSub p {
        padding: 0 20px;
    }

    .servText button {
        width: 120px;
        height: 50px;
        padding: 5px 10px;
    }
}

/* CONTACT */

.conInput {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.conbtn {
    background-color: #FF5A5A;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.con {
    padding: 20px;
}

.con1 {
    margin-left: 20px;
    font-size: 4em;
}

.conTex {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conTex h1 {
    font-size: 3.5em;
    margin: 20px 0 10px 0;
}

.conTex p {
    font-size: 1.3em;
    margin-right: 40px;
}

.conTex h3 {
    margin-top: 30px;
}

.divLink1 {
    margin-top: 40px;
}

.divLink1 img {
    height: 50px;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .con {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .con {
        display: flex;
        flex-direction: column;
    }
    .btn button{
        font-size: 1.1em;
    }
    .btn input{
        font-size: 1.1em;
    }
}

/* LOGIN / REGISTER */

.reslog {
    width: 300px;
    background-color: #D9D9D9;
    border: 1px solid #ffffff;
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
    z-index: 2;
}

.main {
    display: none;
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.826);
    position: absolute;
}

.reslogDiv {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.line {
    display: flex;
}

.line hr {
    width: 100%;
    background-color: #ffffff;
    height: 4px;
    margin: 4px;
    margin-top: 8px;
}

.linkLogin {
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px 0 10px 0;
}

.logi {
    margin-top: 10px;
}

.logi input {
    border-radius: 3px;
    border: 0;
    outline: 0;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    padding-left: 10px;
}

.loginbtn {
    background-color: #FF5A5A;
    border: 0;
    border-radius: 3px;
    width: 100%;
    color: #ffffff;
    height: 40px;
    margin-top: 20px;
}

.linkLogin img {
    height: 30px;
    margin-right: 3px;
    margin-left: 10px;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.linkLogin p {
    font-size: 0.9em;
}

.reslog h3 {
    margin-bottom: 20px;
}

/*  Games: ;*/

.games {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    padding: 20px 20px 30px 20px;
}

.gamesContent {
    flex: 0 0 auto;
    width: 200px;
    /* Define width once */
    height: 100px;
    /* Define height once */
    margin-right: 10px;
}

.games::-webkit-scrollbar {
    display: none;
}

.gamesName {
    display: flex;
    justify-content: space-between;
}

.gamesName p{
  overflow-x: auto;
  width: 120px;
}

.gamesName button{
  border: none;
  background-color: #FF5A5A;
  border-radius: 10px;
  padding: 3px 8px;
  color: #ffffff;
}

.gamesName ::-webkit-scrollbar {
    display: none;
}

.gamesContent img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gamesContainer #h1 {
    margin: 30px 0 -15px 20px;
}

.gamesContainer h1 {
    margin: 10px 0 -15px 20px;
}

@media screen and (max-width: 400px) {
    /*
    #menu-list {
        display: none;
    }
*/
    .gamesContainer #h1 {
        margin: 30px 0 -15px 20px;
    }

    .gamesContainer h1 {
        margin: 10px 0 -15px 20px;
    }
}
